<!--
==================================================
ST1516 DEVOPS AND AUTOMATION FOR AI CA2 ASSIGNMENT 
NAME: EDWARD TAN YUAN CHONG
CLASS: DAAA/FT/2B/04
ADM NO: 2214407
==================================================
FILENAME: about.html
==================================================
-->

{% extends "layout.html" %}
{% block content %}
<div class="container" id="div-about">
    {% from "./includes/about_macro.html" import about %}
    {{
        about(
            'WHAT IS VEGG.AI?', 
            "Vegg.AI is an innovative application designed to revolutionize the way we recognize and classify vegetables through the power of artificial intelligence. 
            By simply uploading an image of a vegetable, users can quickly and accurately identify its type, leveraging the application's advanced image classification algorithms. 
            Vegg.AI stands out for its ability to accommodate two distinct image sizes: 128x128 pixels and 31x31 pixels, catering to different resolution needs without compromising on performance. 
            Impressively, the application achieves a remarkable 99% accuracy rate for images at 128x128 resolution and a 97% accuracy rate for the more challenging 31x31 resolution images. 
            This high level of accuracy underscores Vegg.AI's sophistication and reliability as a tool for users ranging from culinary enthusiasts and gardeners to professionals in the food and agricultural industries, offering them a quick, efficient, and highly accurate vegetable identification solution."
        ) 
    }}
    {{
        about(
            'HOW DOES VEGG.AI WORK?',
            "Vegg.AI, a cutting-edge artificial intelligence company specializing in vegetable classification, implements custom convolutional neural networks (Conv2D) to classify images of vegetables with remarkable accuracy. These neural networks are tailored specifically for two image sizes: 128x128 pixels and 31x31 pixels.
            For classifying 128x128 images of vegetables, Vegg.AI developed a custom Conv2D neural network architecture that underwent extensive training on a large dataset of vegetable images, and was able to attain an impressive test accuracy of 99%.
            Similarly, for classifying 31x31 images of vegetables, Vegg.AI created a custom VGG (Visual Geometry Group) model, which was adapted to the smaller-scale vegetable images, and underwent similarly extensive training to attain a test accuracy of 97%. Vegg.AI is confident in giving you accurate predictions of your vegetables!"
        )
    }}
    {{
        about(
            'ABOUT VEGG.AI',
            "Vegg.AI was developed for a Devops and AI Automation assignment, where it employs DevOps practices to streamline its development and deployment proccesses, ensuring a seamless and efficient workflow. Git was utilized as a version control system to manage and track the changes in source code, along with
            continuous integration and deployment ensuring autonomous building, testing and deployment of code. Thank you for visiting Vegg.AI!"
        )
    }}
</div>
{% endblock %}