<!--
==================================================
ST1516 DEVOPS AND AUTOMATION FOR AI CA2 ASSIGNMENT 
NAME: EDWARD TAN YUAN CHONG
CLASS: DAAA/FT/2B/04
ADM NO: 2214407
==================================================
FILENAME: login.html
==================================================
-->

{% extends "layout.html" %}
{% block content %}
<div class="text-center">
    <input id="openPopup" type="button" class="popup-button" value="LOGIN"/>
</div>
<div id="loginPopup" class="overlay {{ 'active' if session['login_failed'] else '' }}">
    <div class="popup-container">
      <div class="popup-image"></div>
      <div class="popup-form">
        <h2 id="login-title">WELCOME TO <b>VEGG.AI</b>!</h2>
        <form method="POST" novalidate action="/login">
            {{ form.hidden_tag() }}
            <div>
                <img src="{{ url_for('static',filename='images/email.png')}}" class="login-form-img"> <!-- https://www.flaticon.com/free-icon/email_542689?term=email&page=1&position=3&origin=search&related_id=542689 -->
                {{ form.email.label(class='login-label') }}
                <br>
                {{ form.email(size=32) }}
                {% if form.email.errors %}
                <span class="login-error">{{ form.email.errors[-1] }}</span>
                {% endif %}
            </div>
            <div>
                <img src="{{ url_for('static',filename='images/pass.png')}}" class="login-form-img"> <!-- https://www.flaticon.com/free-icon/padlock_3064155?term=password&page=1&position=5&origin=search&related_id=3064155 -->
                {{ form.password.label(class='login-label') }}
                <br>
                {{ form.password(size=32) }}
                {% if form.password.errors %}
                <span class="login-error">{{ form.password.errors[-1] }}</span>
                {% endif %}
            </div>
            <div>
                <a href="#" id="forgot">Forgot password?</a>
            </div>
            <div>
            <br>
            {% with messages = get_flashed_messages(with_categories=true)%}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{category}}">
                      <p>{{ message }}</p>
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </div>
            {{ form.submit() }}
            <div>
              <span>New to Vegg.AI?</span>
              <a href="{{ url_for('signup')}}" id="signup-link">Create an account!</a>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static',filename='js/login.js')}}" defer></script>
{% endblock %}