<!--
==================================================
ST1516 DEVOPS AND AUTOMATION FOR AI CA2 ASSIGNMENT 
NAME: EDWARD TAN YUAN CHONG
CLASS: DAAA/FT/2B/04
ADM NO: 2214407
==================================================
FILENAME: signup.html
==================================================
-->

{% extends "layout.html" %}
{% block content %}
<div class="text-center">
    <input id="signupButton" type="button" class="popup-button" value="SIGN UP"/>
</div>
<div id="signupPopup" class="overlay {{ 'active' if session['signup_failed'] else '' }}">
  <div class="popup-container">
      <div class="popup-image"></div>
      <div class="popup-form">
          <h2 id="signup-title">CREATE AN ACCOUNT</h2>
          <form method="POST" novalidate action="/signup">
              {{ form.hidden_tag() }}
              <div>
                  <img src="{{ url_for('static',filename='images/email.png')}}" class="signup-form-img">
                  {{ form.email.label(class='signup-label') }}
                  {{ form.email(size=32) }}
                  {% if form.email.errors %}
                  <span class="signup-error">{{ form.email.errors[-1] }}</span>
                  {% endif %}
              </div>
              <div>
                  <img src="{{ url_for('static',filename='images/user.png')}}" class="signup-form-img">
                  {{ form.username.label(class='signup-label') }}
                  {{ form.username(size=32) }}
                  {% if form.username.errors %}
                  <span class="signup-error">{{ form.username.errors[-1] }}</span>
                  {% endif %}
              </div>
              <div>
                  <img src="{{ url_for('static',filename='images/pass.png')}}" class="signup-form-img">
                  {{ form.password.label(class='signup-label') }}
                  {{ form.password(size=32) }}
                  {% if form.password.errors %}
                  <span class="signup-error">{{ form.password.errors[-1] }}</span>
                  {% endif %}
              </div>
              <div>
                  {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                  {% for category, message in messages %}
                  <div class="alert alert-{{category}}">
                      <p>{{ message }}</p>
                  </div>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
              </div>
              {{ form.submit() }}
          </form>
          <div>
            <span>Already have an account?</span>
            <a href="{{ url_for('login')}}" id="signup-link">Login</a>
        </div>
      </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script src="{{ url_for('static',filename='js/signup.js')}}" defer></script>
{% endblock %}