/*
==================================================
ST1516 DEVOPS AND AUTOMATION FOR AI CA2 ASSIGNMENT 
NAME: EDWARD TAN YUAN CHONG
CLASS: DAAA/FT/2B/04
ADM NO: 2214407
==================================================
FILENAME: layout.html
==================================================
*/


@import url('https://fonts.googleapis.com/css?family=Poppins'); /* Import font */

.fade {
    opacity: 0;
    transform: translate(0,8vh);
    transition: all 0.5s;
}
  
.fade.visible {
    opacity: 1;
    transform: translate(0, 0);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
  width:100%;
  background-image: url('../images/wallpaper.jpg'); /* https://unsplash.com/photos/green-ferns-on-a-black-background-hnysCJrPpkc */
  color: white;
}

body > * {
    font-family: 'Poppins';
}

/* 
======
NAVBAR 
======
*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#nav-logo {
    margin-left: 2rem;
    height: 84px;
    width: 84px;
}

nav * {
    text-decoration: none;
    list-style: none;
    color:#14410f;
}

nav ul {
    margin-right: 40px;
}

nav ul li {
  margin-right: 50px;
}

nav ul li a {
    line-height: 80px;
    margin: 0 10px;
    margin-bottom: 6px;
}

.nav .nav-link {
  position: relative;
  color: #246f1b;
  text-decoration: none;
  transition: color 0.3s ease-in-out; 
}

.nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: 15px; 
  left: 0;
  right: 100%; 
  height: 2px; 
  background-color: #246f1b;
  transition: right 0.3s ease-in-out;
}

.nav .nav-link:hover,
.nav .nav-link.active {
  color: #246f1b; 
}

.nav .nav-link:hover::after,
.nav .nav-link.active::after {
  right: 0;
}

.nav .nav-link.active {
  font-weight: bold;
}

/* 
==========
INDEX PAGE
==========
*/

#main {
  margin-bottom: 20vh;
}

#basket-img {
    height: 50rem;
    width: 50rem;
    margin-left: 5vw;
    margin-top: 3%;
}

div.row {
  margin-right: 0!important;
  min-height: 100vh;
}

#main-div {
  margin-top: 30vh;
  text-align: left;
  color: white;
  text-align: center;
  margin-bottom: 50vh;
}

.main-text {
  font-weight:bold;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

h2.main-text {
  font-size: 60px;
}

input[type=button] {
  width: 10vw;
  height: 5vh;
  background-color: #14410f;
  border: 2px white solid;
  color: white;
  font-weight: bold;
}

input[type=button]:hover {
  background-color: white;
  border: 2px #14410f solid;
  color: #14410f;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

/* 
==========
CLASSIFIER
==========
*/

div#classifier {
  text-align: center;
}

h1#classifier-title {
  margin-bottom: 3vh;
}

input[type=file] {
  margin-left: 6vw;
  margin-bottom: 1vh;
}

label#drop-area {
  width: 680px;
  height: 500px;
  padding: 30px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  color: grey;
}

#img-view {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 2px dashed #14410f;
  background: #c7ebc3;
  background-position: center;
  background-size: cover;
}

#img-view img{
  width: 100px;
  margin-top: 10vh;
}

#img-view span {
  display: block;
  font-size: 16px;
  color: #777;
  margin-top: 12vh;
  margin-bottom: 8px;
}

#img-view p {
  font-size: 20px;
  color: rgb(37, 37, 37);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #14410f;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

form#form-img-size {
  margin-bottom: 4vh;
  margin-right: 0.5vw;
}

.size-label {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  margin-top: 1vh;
}

input[type=submit] {
  width: 10vw;
  height: 5vh;
  background-color: #14410f;
  border: 2px white solid;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5vh;
}


input[type=submit]:hover {
  background-color: white;
  border: 2px #14410f solid;
  color: #14410f;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

/* 
======
FOOTER 
======
*/

footer {
  padding-right: 0;
  color: #14410f;
  background-color: white;
  width: 100%;
  height: 2.5rem;
  padding-top: 1vh;
}
