<!--
==================================================
ST1516 DEVOPS AND AUTOMATION FOR AI CA2 ASSIGNMENT 
NAME: EDWARD TAN YUAN CHONG
CLASS: DAAA/FT/2B/04
ADM NO: 2214407
==================================================
FILENAME: history.html
==================================================
-->

<div class="container fade" id="history-container">
    <h2 id="history-title">Prediction History</h2>
    <div id="search-div">
        <img src="{{ url_for('static',filename='images/search.png')}}" id="search-img"> <!-- https://www.flaticon.com/free-icon/search_149852?term=search&page=1&position=4&origin=search&related_id=149852 -->
        <input type="text" id="search-input" placeholder="Search for item in table...">
    </div>
    <table class="table table-striped table-hover table-sortable" id="history-table">
        <thead class="thead-dark">
            <tr>
            <th class="sortable">ID</th>
            <th>
                File Name
                <select class="history-select" onchange="filterTable()" data-column="1">
                    <option value="">All</option>
                    <option value=".png">.png</option>
                    <option value=".jpg">.jpg</option>
                </select>
            </th>
            <th>Image</th>
            <th>
                Image Size
                <select class="history-select" onchange="filterTable()" data-column="3">
                    <option value="">All</option>
                    <option value="31x31px">31x31px</option>
                    <option value="128x128px">128x128px</option>
                </select>
            </th>
            <th>
                Prediction
                <select class="history-select" onchange="filterTable()" data-column="4">
                    <option value="">All</option>
                    <option value="Bean">Bean</option>
                    <option value="Bitter Gourd">Bitter Gourd</option>
                    <option value="Bottle Gourd">Bottle Gourd</option>
                    <option value="Brinjal">Brinjal</option>
                    <option value="Broccoli">Broccoli</option>
                    <option value="Cabbage">Cabbage</option>
                    <option value="Capsicum">Capsicum</option>
                    <option value="Carrot">Carrot</option>
                    <option value="Cauliflower">Cauliflower</option>
                    <option value="Cucumber">Cucumber</option>
                    <option value="Papaya">Papaya</option>
                    <option value="Potato">Potato</option>
                    <option value="Pumpkin">Pumpkin</option>
                    <option value="Radish">Radish</option>
                    <option value="Tomato">Tomato</option>
                </select>
            </th>
            <th class="sortable">Timestamp</th>
            <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% if history %}
                {% for data in history %}
                    <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.file_name }}</td>
                    <td><img src='{{ data.image }}' alt="base64Image" class="history-img"></td>
                    <td>{{ data.image_size }}x{{ data.image_size }}px</td>
                    <td>{{ data.prediction }}</td>
                    <td>{{ data.timestamp.strftime("%d %b %y %H:%M") }}</td>
                    <td>
                        <form name="remove_history" action='/remove/{{data.id}}' method="POST" onsubmit="rememberRedirectTarget('history-table')" novalidate>
                            <input type="submit" class="history-delete mx-auto my-auto" value="Delete">
                        </form>
                    </td>
                    </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="12" class="text-center">Empty Prediction History.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>