<!--
==================================================
ST1516 DEVOPS AND AUTOMATION FOR AI CA2 ASSIGNMENT 
NAME: EDWARD TAN YUAN CHONG
CLASS: DAAA/FT/2B/04
ADM NO: 2214407
==================================================
FILENAME: nav.html
==================================================
-->

<header>
    <a href="/home" id="nav-title-link"><img src="{{ url_for('static',filename='images/vegg.ai_logo.png')}}" id="nav-logo"></a>
    <!-- <h4 id="site-title" class="fade">{{ title }}</h4> -->
    <nav>
        <ul class="nav">
            <li class="nav-item fade">
                <a href="/home" class="nav-link">
                    HOME
                </a>
            </li>
            <li class="nav-item fade">
                <a href="/about" class="nav-link">
                    ABOUT
                </a>
            </li>
            <li class="nav-item fade">
                <a href="/login" class="nav-link">
                    LOGOUT
                </a>
            </li>
        </ul>
    </nav>
</header>